@import url('https://fonts.googleapis.com/css?family=Roboto');
.allbooms-comments-widget{
    width: 280px;
}
.allbooms-single-comment{
    width: 100%;
}
.allbooms-single-comment a > img{
    max-height: 42px;
    border-radius: 50%;
}
.allbooms-single-comment tr:first-child > td:first-child{
    width: 42px;
    vertical-align: top;
}
.allbooms-single-comment tr:first-child > td:last-child{
    width: 55px;
    text-align: right;
}
.allbooms-single-comment tr:first-child > td:nth-child(2){
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.allbooms-single-comment tr:first-child > td:nth-child(2) > a{
    width: 1px;
    display: inline-block;
}
.allbooms-comments-widget *{
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}
.allbooms-comments-widget .comment-input-submit{
    float: right;
    width: 80px;
    border: 0;
    background: transparent;
}
.allbooms-comments-widget .comment-input{
    width: calc(100% - 80px);
    border: 0;
    border-bottom: 2px solid darkgrey;
    transition: 1s;
}
.allbooms-comments-widget .comment-input:focus{
    outline: none;
    border-bottom-color: #00b1b3;
}
.allbooms-comments-container{
    margin-top: 10px;
    max-height: 400px;
    overflow-y: auto;
}
