*{
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}
.single-comment{
    width: 100%;
}
.single-comment a > img{
    max-height: 42px;
    border-radius: 50%;
}
.single-comment tr:first-child > td:first-child{
    width: 42px;
    vertical-align: top;
}
.single-comment tr:first-child > td:last-child{
    width: 55px;
    text-align: right;
}
.single-comment tr:first-child > td:nth-child(2){
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.single-comment tr:first-child > td:nth-child(2) > a{
    width: 1px;
    display: inline-block;
}
.comment-input-submit{
    float: right;
    width: 80px;
    border: 0;
    background: transparent;
    height: 18px;
    padding: 1px 6px;
}
.comment-input{
    width: calc(100% - 80px);
    border: 0;
    border-bottom: 2px solid darkgrey;
    transition: 1s;
    background-color: white;
    color: black;
}
.comment-input:focus{
    outline: none;
    border-bottom-color: var(--theme-color);
}
.comments-container{
    margin-top: 10px;
    max-height: 400px;
    overflow-y: auto;
}
.comment-input-submit.login-highlight{
    background-color: var(--theme-color);
    color: var(--highlighted-text-color);
    border-bottom: 2px solid var(--theme-color);
}
.comment-input-submit.login-highlight i.allbooms-brand-icons-allbooms:before{
    position: relative;
    top: 2px;
    left: 2px;
}
